.container {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background-color: white;
}

.container-form {
  margin: 10px auto;
}

.title {
  text-align: center;
  color: black;
}

.divider {
  height: 3px;
  background-color: black;
  margin: 10px 0;
}

.fields-container {
  display: flex;
  justify-content: center;
}

.field {
  flex: 1;
  margin: 26px 140px 0px 10px;
  margin-bottom: 40px;
  width: 85%;
}

.field label {
  padding-bottom: 4px;
}

.invalid {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  margin: 0px 10%;

}

.reset-button {
  background-color: #f0f0f0; 
  color: #0f275c;
  padding: 15px 20px;
  font-size: 14px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  border-radius: 2px;
  font-weight: bold;
}


.submit-button {
  padding: 15px 20px;
  font-size: 14px;
  background-color: #ffdd05;
  color: #0f275c;
  border: none;
  border-radius: 0;
  cursor: pointer;
  border-radius: 2px;
  font-weight: bold;
}

.disabled-button {
  opacity: 0.6;
  pointer-events: none;
}
