<div class="table-actions">
  <div class="search-box">
    <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" (input)="onSearchChange()">
  </div>
  <button class="add-button" (click)="goToAddProduct()">Agregar</button>
</div>

<div class="container">
  <div class="container-table">
    <table class="custom-table">
      <thead>
        <tr class="sticky-header">
          <th>Logo</th>
          <th>Nombre del Producto</th>
          <th>Descripción <i class="fa-solid fa-circle-info"></i></th>
          <th>Fecha de Liberación <i class="fa-solid fa-circle-info"></i></th>
          <th>Fecha de Reestructuración <i class="fa-solid fa-circle-info"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of displayedProducts">
          <td class="logo-cell"><img [src]="product.logo" alt="Logo"></td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release | date:'dd/MM/yyyy'}}</td>
          <td>{{ product.date_revision | date:'dd/MM/yyyy'}}</td>
          <td>
            <div class="options-container">
              <button class="options-button" (click)="showOptions($event, product.id)">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <div class="options-dialog" [id]="'optionsDialog' + product.id">
                <button class="option-button" (click)="goToEditProduct(product)">
                  <i class="far fa-edit"></i> Editar
                </button>
                <button class="option-button" (click)="goToDeleteProduct(product.id)">
                  <i class="far fa-trash-alt"></i> Eliminar
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="footer">
    <div class="results-summary">
      {{ (currentPage - 1) * pageSize + 1 }} - {{ (currentPage - 1) * pageSize + displayedProducts.length }}
      de {{ products.length }} Resultados
    </div>
    <div class="pagination">
      <select (change)="onPageSizeChange($event)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="all">Todos</option>
      </select>
    </div>
  </div>
</div>