<div class="container">
  <h1 class="title">Formulario de Registro</h1>
  <div class="divider"></div>

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="fields-container">
      <div class="column">
        <div class="field">
          <label for="id">ID</label>
          <input type="text" id="id" formControlName="id" [class.invalid]="isInvalid('id')">
          <div class="error-message" *ngIf="isInvalid('id')">
            {{ getFieldErrorMessage('id', 'required') }}
            {{ getFieldErrorMessage('id', 'minlength') }}
            {{ getFieldErrorMessage('id', 'maxlength') }}
            {{ getFieldErrorMessage('id', 'idExist') }}
          </div>
        </div>
        <div class="field">
          <label for="description">Descripción</label>
          <input type="text" id="description" formControlName="description" [class.invalid]="isInvalid('description')">
          <div class="error-message" *ngIf="isInvalid('description')">
            {{ getFieldErrorMessage('description','required') }}
            {{ getFieldErrorMessage('description', 'minlength') }}
            {{ getFieldErrorMessage('description', 'maxlength') }}
          </div>
        </div>
        <div class="field">
          <label for="date_release">Fecha de Liberación</label>
          <input type="date" id="date_release" (change)="setRevisionDate()" formControlName="date_release"
            [class.invalid]="isInvalid('date_release')">
          <div class="error-message" *ngIf="isInvalid('date_release')">
            {{ getFieldErrorMessage('date_release','required') }}
            {{ getFieldErrorMessage('date_release','invalidDate') }}
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label for="name">Nombre</label>
          <input type="text" id="name" formControlName="name" [class.invalid]="isInvalid('name')">
          <div class="error-message" *ngIf="isInvalid('name')">
            {{ getFieldErrorMessage('name','required') }}
            {{ getFieldErrorMessage('name', 'minlength') }}
            {{ getFieldErrorMessage('name', 'maxlength') }}
          </div>
        </div>
        <div class="field">
          <label for="logo">Logo</label>
          <input type="text" id="logo" formControlName="logo" [class.invalid]="isInvalid('logo')">
          <div class="error-message" *ngIf="isInvalid('logo')">
            {{ getFieldErrorMessage('logo','required') }}
          </div>
        </div>
        <div class="field">
          <label for="date_revision">Fecha de Revisión</label>
          <input type="date" id="date_revision" formControlName="date_revision"
            [class.invalid]="isInvalid('date_revision')" [disabled]="true">
          <div class="error-message" *ngIf="isInvalid('date_revision')">
            {{ getFieldErrorMessage('date_revision','required') }}
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <button type="button" class="reset-button" (click)="resetForm()">Reiniciar</button>
      <button type="submit" class="submit-button" [disabled]="!registrationForm.valid || isSubmitting"
        [ngClass]="{ 'disabled-button': !registrationForm.valid || isSubmitting }">
        <span *ngIf="isSubmitting" class="spinner"></span>
        {{ isSubmitting ? 'Enviando...' : 'Enviar' }}
      </button>
    </div>
  </form>
</div>